# Игнорировать файлы и папки, создаваемые PyCharm
.idea/
*.iml

# Игнорировать виртуальные окружения
venv/
env/
.env

# Игнорировать файлы кэша Python
__pycache__/
*.py[cod]

# Игнорировать файлы логов
*.log

# Игнорировать файлы, связанные с тестами
.pytest_cache/
